# Build files
**/build/*

# Runtime outputs
**/outputs/*

# Playground
**/playground/*

# Compressed packages
*.zip

# VS Code settings
.vscode/*

# OpenCV images
**/data/**
**/dataset/**

# Caches
**/cache/*
**/__pycache__/*
